*.tfstate
*.tfstate.*
*.retry
*.pem
certs/
ansible/roles/certs/files/
ansible/inventories/inv.ini
terraform/gce/modules/compute/gce_template_startup.sh.tpl
terraform/gce/modules/compute/gce_master_startup.sh.tpl