[Unit]
Description=Flannel
Documentation=https://github.com/coreos/flannel

[Service]
ExecStart=/usr/bin/flanneld --etcd-endpoints={{ etcd_servers_ip }} \
  --etcd-keyfile=/var/lib/kubernetes/kubernetes-key.pem \
  --etcd-certfile=/var/lib/kubernetes/kubernetes.pem \
  --etcd-cafile=/var/lib/kubernetes/ca.pem \
  --ip-masq=true

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target